[Unit]
Description=Sync Phonebook
After=postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.ctr-id
ExecStart=runagent podman run \
    --env-file=./phonebook.env \
    --pod=webtop \
    --detach \
    --conmon-pidfile=%t/%N.pid \
    --cidfile=%t/%N.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    ${WEBTOP_PHONEBOOK_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.ctr-id
PIDFile=%t/%N.pid
Type=oneshot
